# R specific files
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

# Output files
test_output/
output/
*.tsv
*.txt
*.gtf
*.png
*.csv

# Build files
ContigR/src/*.o
ContigR/src/*.so
ContigR/src/*.dll

# System files
.DS_Store
Thumbs.db 